* {
  margin: 0;
  padding: 0;
}

img {
  height: 335px;
  width: 335px;
  border-radius: 14px;
  margin-top: 20px;
}

.main {
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 560px;
  background-color: white;
  text-align: center;
}

.card-content {
  padding: 30px 30px;
}

h3 {
  font-family: "outfit", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: hsl(218, 44%, 22%);
  /* margin-bottom: 10px; */
}

p {
  padding-top: 20px;
  font-family: "outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 17.9px;
}
